<ion-view view-title="home">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">OutSnap</h1>
    <button class="button button-icon" ng-click="settings()">
      <i class="icon ion-gear-b"></i>
    </button>
  </ion-header-bar>
  <ion-content>
<div class="list">

  <div class="item item-button-right">
    Siraj
    <button class="button button-positive">
      <i class="icon ion-paper-airplane"></i>
    </button>
  </div>



</div>

    </ion-content>
  <div class="bar bar-footer">

    <div class="title"><button class="button button-dark" ng-click="findFriends()">Find Friend</button></div>
  </div>
  </ion-view>
