<ion-view view-title="signin">
  <ion-header-bar class="bar bar-header bar-dark">
    <button class="button button-icon" ng-click="back()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
    <h1 class="title">OutSnap</h1>

  </ion-header-bar>
  <ion-content>
<div class="list list-inset">
  <div class="item item-button-right" ng-click="profile()">
    Profile

  </div>

  <div class="item item-button-right" ng-click="logout()">
    Log out

  </div>

</div>
    </ion-content>
  </ion-view>
