<form ua-signup >
  <ion-view view-title="Sign Up" ng-controller="signupCtrl">
    <ion-header-bar class="bar bar-header bar-dark">
      <button class="button button-icon" ng-click="back()">
        <i class="icon ion-arrow-left-b"></i>
      </button>
      <h1 class="title">OutSnap</h1>

    </ion-header-bar>
    <ion-content >
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text"  ng-model="name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text"  ua-is-email ng-model="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password"  ng-model="password">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="createAccount()">
          <span ng-show="!loading">Create Account</span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button >
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
